body{
  background: url('./images/bg.jpeg')fixed;
  height: 100vh;
  width: 100vw;
}
.song-list{
  margin: 2.8em;
}
.button{
  background-color: transparent;
}

.album-name{
  justify-content: space-around;
}

.edit-subtitle{
  font-size: 28px;
}

.form{
  padding-top: 1em;
  padding-left: 1em;
}

.button-size{
  font-size: 12px;
}

